In [1]:
import numpy as np
import pandas as pd
ds1=pd.read_excel(r'C:\Users\Laxmi Pujar\git\dsc_weekday_2020_09_24\Assignments\Assignment_IMMIGRANTS\Australia.xlsx', sheet_name="Australia by Residence", skiprows =(i for i in range(0,20)))

In [2]:
print(ds1.shape)
print(ds1.shape)

(448, 43)
(448, 43)

In [3]:
rows1=list(ds1.index)
columns1=list(ds1.columns)
print(rows1)
print()
print()
print(columns1)
print()
rows2=list(ds1.index)
columns2=list(ds1.columns)
print(rows2)
print()
print(columns2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447]


['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName', 'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447]

['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName', 'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013]

In [4]:
ds1.replace('..',np.nan,inplace=True)
ds1

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Emigrants,Both,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,0,...,80,120,70,80,120,NaN,NaN,NaN,NaN,NaN
1,Emigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,30,40,30,30,30,NaN,NaN,NaN,NaN,NaN
2,Emigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,20,...,20,20,30,40,50,NaN,NaN,NaN,NaN,NaN
3,Emigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,10,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
4,Emigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,40,20,10,40,40,NaN,NaN,NaN,NaN,NaN
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,370,240,410,410,400,NaN,NaN,NaN,NaN,NaN
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,1790,1560,1880,2180,2270,NaN,NaN,NaN,NaN,NaN
446,Immigrants,Both,Unknown,999,World,999,World,999,World,4060,...,1650,1800,2320,18310,4970,NaN,NaN,NaN,NaN,NaN
447,Immigrants,Both,Total,999,World,999,World,999,World,184290,...,350990,363470,402210,460650,535970,NaN,NaN,NaN,NaN,NaN

# Data Set Analysis

In [5]:
ds1.describe(include='all')

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
count,448,448,448,448.000000,448,448.000000,448,448.000000,448,448.000000,...,448.000000,448.000000,448.000000,448.000000,448.000000,0.0,0.0,0.0,0.0,0.0
unique,2,1,224,NaN,7,NaN,23,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Immigrants,Both,Ghana,NaN,Africa,NaN,Caribbean,NaN,Developing regions,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,224,448,2,NaN,112,NaN,46,NaN,344,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,912.955357,NaN,1208.040179,NaN,902.642857,NaN,1228.348214,...,2514.241071,2545.357143,2709.866071,3023.348214,3376.116071,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,15.019682,NaN,1109.669573,NaN,9.165500,NaN,10145.734028,...,19834.528214,20203.441660,21786.641444,24542.748186,27950.462893,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,903.000000,NaN,905.000000,NaN,901.000000,NaN,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,903.750000,NaN,914.000000,NaN,902.000000,NaN,0.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,908.000000,NaN,922.000000,NaN,902.000000,NaN,10.000000,...,50.000000,50.000000,60.000000,70.000000,75.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,909.000000,NaN,926.000000,NaN,902.000000,NaN,130.000000,...,400.000000,410.000000,455.000000,480.000000,512.500000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,999.000000,NaN,5501.000000,NaN,999.000000,NaN,184290.000000,...,350990.000000,363470.000000,402210.000000,460650.000000,535970.000000,NaN,NaN,NaN,NaN,NaN

In [6]:
#5 Use values and index attributes on both Row and Column Indexes
print(ds1.index.values)
print(ds1.columns.values)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447]
['Type' 'Coverage' 'OdName' 'AREA' 'AreaName' 'REG' 'RegName' 'DEV'
 'DevName' 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991
 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013]

In [7]:
#6 Check Shape, Datatypes and other attributes and observe the datatype of each columns' data
print(ds1.shape)
print()
print(ds1.dtypes)
print()
print(ds1.count)
print()
print(ds1.pivot)
print()
print(ds1.max)
print()

(448, 43)

Type         object
Coverage     object
OdName       object
AREA          int64
AreaName     object
REG           int64
RegName      object
DEV           int64
DevName      object
1980          int64
1981          int64
1982          int64
1983          int64
1984          int64
1985          int64
1986          int64
1987          int64
1988          int64
1989          int64
1990          int64
1991          int64
1992          int64
1993          int64
1994          int64
1995          int64
1996          int64
1997          int64
1998          int64
1999          int64
2000          int64
2001          int64
2002          int64
2003          int64
2004          int64
2005          int64
2006          int64
2007          int64
2008          int64
2009        float64
2010        float64
2011        float64
2012        float64
2013        float64
dtype: object

<bound method DataFrame.count of            Type Coverage          OdName  AREA AreaName   REG  \
0     Emigrants     Both     Afghanistan   935     Asia  5501
1     Emigrants     Both         Albania   908   Europe   925
2     Emigrants     Both         Algeria   903   Africa   912
3     Emigrants     Both  American Samoa   909  Oceania   957
4     Emigrants     Both         Andorra   908   Europe   925
..          ...      ...             ...   ...      ...   ...
443  Immigrants     Both           Yemen   935     Asia   922
444  Immigrants     Both          Zambia   903   Africa   910
445  Immigrants     Both        Zimbabwe   903   Africa   910
446  Immigrants     Both         Unknown   999    World   999
447  Immigrants     Both           Total   999    World   999

             RegName  DEV             DevName    1980  ...    2004    2005  \
0      Southern Asia  902  Developing regions       0  ...      80     120
1    Southern Europe  901   Developed regions       0  ...      30      40
2    Northern Africa  902  Developing regions      20  ...      20      20
3          Polynesia  902  Developing regions      10  ...       0       0
4    Southern Europe  901   Developed regions       0  ...       0       0
..               ...  ...                 ...     ...  ...     ...     ...
443     Western Asia  902  Developing regions      10  ...      40      20
444   Eastern Africa  902  Developing regions     150  ...     370     240
445   Eastern Africa  902  Developing regions     630  ...    1790    1560
446            World  999               World    4060  ...    1650    1800
447            World  999               World  184290  ...  350990  363470

       2006    2007    2008  2009  2010  2011  2012  2013
0        70      80     120   NaN   NaN   NaN   NaN   NaN
1        30      30      30   NaN   NaN   NaN   NaN   NaN
2        30      40      50   NaN   NaN   NaN   NaN   NaN
3         0       0       0   NaN   NaN   NaN   NaN   NaN
4         0       0       0   NaN   NaN   NaN   NaN   NaN
..      ...     ...     ...   ...   ...   ...   ...   ...
443      10      40      40   NaN   NaN   NaN   NaN   NaN
444     410     410     400   NaN   NaN   NaN   NaN   NaN
445    1880    2180    2270   NaN   NaN   NaN   NaN   NaN
446    2320   18310    4970   NaN   NaN   NaN   NaN   NaN
447  402210  460650  535970   NaN   NaN   NaN   NaN   NaN

[448 rows x 43 columns]>

<bound method DataFrame.pivot of            Type Coverage          OdName  AREA AreaName   REG  \
0     Emigrants     Both     Afghanistan   935     Asia  5501
1     Emigrants     Both         Albania   908   Europe   925
2     Emigrants     Both         Algeria   903   Africa   912
3     Emigrants     Both  American Samoa   909  Oceania   957
4     Emigrants     Both         Andorra   908   Europe   925
..          ...      ...             ...   ...      ...   ...
443  Immigrants     Both           Yemen   935     Asia   922
444  Immigrants     Both          Zambia   903   Africa   910
445  Immigrants     Both        Zimbabwe   903   Africa   910
446  Immigrants     Both         Unknown   999    World   999
447  Immigrants     Both           Total   999    World   999

             RegName  DEV             DevName    1980  ...    2004    2005  \
0      Southern Asia  902  Developing regions       0  ...      80     120
1    Southern Europe  901   Developed regions       0  ...      30      40
2    Northern Africa  902  Developing regions      20  ...      20      20
3          Polynesia  902  Developing regions      10  ...       0       0
4    Southern Europe  901   Developed regions       0  ...       0       0
..               ...  ...                 ...     ...  ...     ...     ...
443     Western Asia  902  Developing regions      10  ...      40      20
444   Eastern Africa  902  Developing regions     150  ...     370     240
445   Eastern Africa  902  Developing regions     630  ...    1790    1560
446            World  999               World    4060  ...    1650    1800
447            World  999               World  184290  ...  350990  363470

       2006    2007    2008  2009  2010  2011  2012  2013
0        70      80     120   NaN   NaN   NaN   NaN   NaN
1        30      30      30   NaN   NaN   NaN   NaN   NaN
2        30      40      50   NaN   NaN   NaN   NaN   NaN
3         0       0       0   NaN   NaN   NaN   NaN   NaN
4         0       0       0   NaN   NaN   NaN   NaN   NaN
..      ...     ...     ...   ...   ...   ...   ...   ...
443      10      40      40   NaN   NaN   NaN   NaN   NaN
444     410     410     400   NaN   NaN   NaN   NaN   NaN
445    1880    2180    2270   NaN   NaN   NaN   NaN   NaN
446    2320   18310    4970   NaN   NaN   NaN   NaN   NaN
447  402210  460650  535970   NaN   NaN   NaN   NaN   NaN

[448 rows x 43 columns]>

<bound method DataFrame.max of            Type Coverage          OdName  AREA AreaName   REG  \
0     Emigrants     Both     Afghanistan   935     Asia  5501
1     Emigrants     Both         Albania   908   Europe   925
2     Emigrants     Both         Algeria   903   Africa   912
3     Emigrants     Both  American Samoa   909  Oceania   957
4     Emigrants     Both         Andorra   908   Europe   925
..          ...      ...             ...   ...      ...   ...
443  Immigrants     Both           Yemen   935     Asia   922
444  Immigrants     Both          Zambia   903   Africa   910
445  Immigrants     Both        Zimbabwe   903   Africa   910
446  Immigrants     Both         Unknown   999    World   999
447  Immigrants     Both           Total   999    World   999

             RegName  DEV             DevName    1980  ...    2004    2005  \
0      Southern Asia  902  Developing regions       0  ...      80     120
1    Southern Europe  901   Developed regions       0  ...      30      40
2    Northern Africa  902  Developing regions      20  ...      20      20
3          Polynesia  902  Developing regions      10  ...       0       0
4    Southern Europe  901   Developed regions       0  ...       0       0
..               ...  ...                 ...     ...  ...     ...     ...
443     Western Asia  902  Developing regions      10  ...      40      20
444   Eastern Africa  902  Developing regions     150  ...     370     240
445   Eastern Africa  902  Developing regions     630  ...    1790    1560
446            World  999               World    4060  ...    1650    1800
447            World  999               World  184290  ...  350990  363470

       2006    2007    2008  2009  2010  2011  2012  2013
0        70      80     120   NaN   NaN   NaN   NaN   NaN
1        30      30      30   NaN   NaN   NaN   NaN   NaN
2        30      40      50   NaN   NaN   NaN   NaN   NaN
3         0       0       0   NaN   NaN   NaN   NaN   NaN
4         0       0       0   NaN   NaN   NaN   NaN   NaN
..      ...     ...     ...   ...   ...   ...   ...   ...
443      10      40      40   NaN   NaN   NaN   NaN   NaN
444     410     410     400   NaN   NaN   NaN   NaN   NaN
445    1880    2180    2270   NaN   NaN   NaN   NaN   NaN
446    2320   18310    4970   NaN   NaN   NaN   NaN   NaN
447  402210  460650  535970   NaN   NaN   NaN   NaN   NaN

[448 rows x 43 columns]>

In [8]:
#7 Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion).

rdel1=ds1[ds1.Type=='Emigrants'].index
ds1.drop(rdel1, inplace=True)
ds1

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
224,Immigrants,Both,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,10,...,80,110,180,140,560,NaN,NaN,NaN,NaN,NaN
225,Immigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,140,130,110,110,140,NaN,NaN,NaN,NaN,NaN
226,Immigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,10,...,20,50,30,30,60,NaN,NaN,NaN,NaN,NaN
227,Immigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,10,NaN,NaN,NaN,NaN,NaN
228,Immigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,10,10,0,10,10,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,40,20,10,40,40,NaN,NaN,NaN,NaN,NaN
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,370,240,410,410,400,NaN,NaN,NaN,NaN,NaN
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,1790,1560,1880,2180,2270,NaN,NaN,NaN,NaN,NaN
446,Immigrants,Both,Unknown,999,World,999,World,999,World,4060,...,1650,1800,2320,18310,4970,NaN,NaN,NaN,NaN,NaN
447,Immigrants,Both,Total,999,World,999,World,999,World,184290,...,350990,363470,402210,460650,535970,NaN,NaN,NaN,NaN,NaN

In [9]:
#8 Find columns for which more than 50% data is missing and drop them (Column Deletion)
r=ds1.isna().sum()/ds1.shape[0]*100
print(r)
ds1.dropna(thresh=ds1.shape[0]*0.75,axis=1, inplace=True)
ds1.head()

Type          0.0
Coverage      0.0
OdName        0.0
AREA          0.0
AreaName      0.0
REG           0.0
RegName       0.0
DEV           0.0
DevName       0.0
1980          0.0
1981          0.0
1982          0.0
1983          0.0
1984          0.0
1985          0.0
1986          0.0
1987          0.0
1988          0.0
1989          0.0
1990          0.0
1991          0.0
1992          0.0
1993          0.0
1994          0.0
1995          0.0
1996          0.0
1997          0.0
1998          0.0
1999          0.0
2000          0.0
2001          0.0
2002          0.0
2003          0.0
2004          0.0
2005          0.0
2006          0.0
2007          0.0
2008          0.0
2009        100.0
2010        100.0
2011        100.0
2012        100.0
2013        100.0
dtype: float64

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
224,Immigrants,Both,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,10,...,270,100,20,40,70,80,110,180,140,560
225,Immigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,70,110,110,200,250,140,130,110,110,140
226,Immigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,10,...,30,20,30,60,20,20,50,30,30,60
227,Immigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,10
228,Immigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,10,0,10,10,0,10,10,0,10,10

In [10]:
ds1.shape

(224, 38)

In [11]:
#Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion) Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"
ds1.drop(['Type', 'Coverage', 'AREA', 'REG', 'DEV'], axis=1, inplace=True)
ds1

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
224,Afghanistan,Asia,Southern Asia,Developing regions,10,20,30,30,70,100,...,270,100,20,40,70,80,110,180,140,560
225,Albania,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,70,110,110,200,250,140,130,110,110,140
226,Algeria,Africa,Northern Africa,Developing regions,10,50,30,10,20,20,...,30,20,30,60,20,20,50,30,30,60
227,American Samoa,Oceania,Polynesia,Developing regions,0,0,0,0,0,20,...,0,0,0,0,0,0,0,0,0,10
228,Andorra,Europe,Southern Europe,Developed regions,0,0,10,0,0,0,...,10,0,10,10,0,10,10,0,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Yemen,Asia,Western Asia,Developing regions,10,0,0,10,20,10,...,20,20,60,40,150,40,20,10,40,40
444,Zambia,Africa,Eastern Africa,Developing regions,150,110,120,180,130,170,...,60,100,190,260,430,370,240,410,410,400
445,Zimbabwe,Africa,Eastern Africa,Developing regions,630,1120,1190,980,640,500,...,510,910,1500,1670,2330,1790,1560,1880,2180,2270
446,Unknown,World,World,World,4060,4440,4010,3220,3970,4610,...,2850,5500,5090,2160,1760,1650,1800,2320,18310,4970
447,Total,World,World,World,184290,212690,195200,153570,153530,172550,...,289870,317560,356410,361990,388450,350990,363470,402210,460650,535970

In [12]:
#10 Rename columns :OdName -> Country; RegName -> Region
ds1.rename(columns={"OdName": "Country", "RegName": "Region"}, inplace=True)
ds1

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
224,Afghanistan,Asia,Southern Asia,Developing regions,10,20,30,30,70,100,...,270,100,20,40,70,80,110,180,140,560
225,Albania,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,70,110,110,200,250,140,130,110,110,140
226,Algeria,Africa,Northern Africa,Developing regions,10,50,30,10,20,20,...,30,20,30,60,20,20,50,30,30,60
227,American Samoa,Oceania,Polynesia,Developing regions,0,0,0,0,0,20,...,0,0,0,0,0,0,0,0,0,10
228,Andorra,Europe,Southern Europe,Developed regions,0,0,10,0,0,0,...,10,0,10,10,0,10,10,0,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Yemen,Asia,Western Asia,Developing regions,10,0,0,10,20,10,...,20,20,60,40,150,40,20,10,40,40
444,Zambia,Africa,Eastern Africa,Developing regions,150,110,120,180,130,170,...,60,100,190,260,430,370,240,410,410,400
445,Zimbabwe,Africa,Eastern Africa,Developing regions,630,1120,1190,980,640,500,...,510,910,1500,1670,2330,1790,1560,1880,2180,2270
446,Unknown,World,World,World,4060,4440,4010,3220,3970,4610,...,2850,5500,5090,2160,1760,1650,1800,2320,18310,4970
447,Total,World,World,World,184290,212690,195200,153570,153530,172550,...,289870,317560,356410,361990,388450,350990,363470,402210,460650,535970

In [13]:
#12. Find Total number of immigrants for all years, and create a new column Total in data Frame
z=ds1.columns[4:38]
ds1['Total']=ds1[z].sum(axis=1)
ds1

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
224,Afghanistan,Asia,Southern Asia,Developing regions,10,20,30,30,70,100,...,100,20,40,70,80,110,180,140,560,4630
225,Albania,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,110,110,200,250,140,130,110,110,140,1910
226,Algeria,Africa,Northern Africa,Developing regions,10,50,30,10,20,20,...,20,30,60,20,20,50,30,30,60,730
227,American Samoa,Oceania,Polynesia,Developing regions,0,0,0,0,0,20,...,0,0,0,0,0,0,0,0,10,30
228,Andorra,Europe,Southern Europe,Developed regions,0,0,10,0,0,0,...,0,10,10,0,10,10,0,10,10,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Yemen,Asia,Western Asia,Developing regions,10,0,0,10,20,10,...,20,60,40,150,40,20,10,40,40,570
444,Zambia,Africa,Eastern Africa,Developing regions,150,110,120,180,130,170,...,100,190,260,430,370,240,410,410,400,5590
445,Zimbabwe,Africa,Eastern Africa,Developing regions,630,1120,1190,980,640,500,...,910,1500,1670,2330,1790,1560,1880,2180,2270,27350
446,Unknown,World,World,World,4060,4440,4010,3220,3970,4610,...,5500,5090,2160,1760,1650,1800,2320,18310,4970,141660
447,Total,World,World,World,184290,212690,195200,153570,153530,172550,...,317560,356410,361990,388450,350990,363470,402210,460650,535970,7965110

In [21]:
#11. Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
ds1.rename(columns={1980:"1980"},inplace=True)
ds1.dtypes

Country     object
AreaName    object
Region      object
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
Total        int64
dtype: object


# Head Tail Sort

In [54]:
#Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)

ds1=ds1.sort_values('Total',ascending=False)
ds1.head()

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
432,United Kingdom of Great Britain and Northern I...,Europe,Northern Europe,Developed regions,43540,57050,51730,31660,25150,27630,...,51000,52940,57330,70150,53140,53300,57250,61490,65160,1333340
367,New Zealand,Oceania,Australia and New Zealand,Developed regions,34370,34440,23920,13620,16900,27070,...,47230,45570,29500,28000,40710,44680,45550,39120,46960,898760
434,United States of America,Northern America,Northern America,Developed regions,10470,12080,12490,11110,11840,12480,...,18030,19230,18950,18980,18540,18490,17320,19260,20860,450370
266,"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,4170,4380,4980,5480,7450,6820,...,16410,18620,20200,19220,9740,10070,10270,9680,11030,388640
265,China,Asia,Eastern Asia,Developing regions,860,870,560,580,1220,2190,...,16700,22220,29000,33410,29860,28820,32190,42920,54300,387180

In [53]:
ds1=ds1[ds1.Country!='Total']
ds1

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
432,United Kingdom of Great Britain and Northern I...,Europe,Northern Europe,Developed regions,43540,57050,51730,31660,25150,27630,...,51000,52940,57330,70150,53140,53300,57250,61490,65160,1333340
367,New Zealand,Oceania,Australia and New Zealand,Developed regions,34370,34440,23920,13620,16900,27070,...,47230,45570,29500,28000,40710,44680,45550,39120,46960,898760
434,United States of America,Northern America,Northern America,Developed regions,10470,12080,12490,11110,11840,12480,...,18030,19230,18950,18980,18540,18490,17320,19260,20860,450370
266,"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,4170,4380,4980,5480,7450,6820,...,16410,18620,20200,19220,9740,10070,10270,9680,11030,388640
265,China,Asia,Eastern Asia,Developing regions,860,870,560,580,1220,2190,...,16700,22220,29000,33410,29860,28820,32190,42920,54300,387180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,United States Virgin Islands,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
427,Turks and Caicos Islands,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
353,Mayotte,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
308,Guadeloupe,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270,Comoros,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
ds1.tail()

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
392,Saint Helena,Africa,Western Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
393,Saint Kitts and Nevis,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395,Saint Vincent and the Grenadines,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
230,Anguilla,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270,Comoros,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [65]:
ds1.DevName.unique()
ds1.Country.unique()
ds1.AreaName.unique()
ds1.Region.unique()

array(['Northern Europe', 'Australia and New Zealand', 'Northern America',
       'Eastern Asia', 'South-Eastern Asia', 'Southern Asia',
       'Southern Africa', 'World', 'Western Europe', 'Melanesia',
       'Southern Europe', 'Western Asia', 'Northern Africa',
       'Eastern Europe', 'Eastern Africa', 'South America',
       'Central America', 'Polynesia', 'Western Africa', 'Micronesia',
       'Central Asia', 'Caribbean', 'Middle Africa'], dtype=object)

In [72]:
#Find countries for which no of immigrants for all years is 0
d1=ds1[ds1.Total==0]
d1

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
442,Western Sahara,Africa,Northern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
308,Guadeloupe,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
353,Mayotte,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
427,Turks and Caicos Islands,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
435,United States Virgin Islands,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
315,Holy See,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
306,Greenland,Northern America,Northern America,Developed regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262,Central African Republic,Africa,Middle Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
392,Saint Helena,Africa,Western Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
393,Saint Kitts and Nevis,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395,Saint Vincent and the Grenadines,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
230,Anguilla,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270,Comoros,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
d1.Country.count()

13

In [79]:
d1.Country

442                      Western Sahara
308                          Guadeloupe
353                             Mayotte
427            Turks and Caicos Islands
435        United States Virgin Islands
315                            Holy See
306                           Greenland
262            Central African Republic
392                        Saint Helena
393               Saint Kitts and Nevis
395    Saint Vincent and the Grenadines
230                            Anguilla
270                             Comoros
Name: Country, dtype: object

In [82]:
ds1=ds1[ds1.AreaName!='World']
ds1

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
432,United Kingdom of Great Britain and Northern I...,Europe,Northern Europe,Developed regions,43540,57050,51730,31660,25150,27630,...,51000,52940,57330,70150,53140,53300,57250,61490,65160,1333340
367,New Zealand,Oceania,Australia and New Zealand,Developed regions,34370,34440,23920,13620,16900,27070,...,47230,45570,29500,28000,40710,44680,45550,39120,46960,898760
434,United States of America,Northern America,Northern America,Developed regions,10470,12080,12490,11110,11840,12480,...,18030,19230,18950,18980,18540,18490,17320,19260,20860,450370
266,"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,4170,4380,4980,5480,7450,6820,...,16410,18620,20200,19220,9740,10070,10270,9680,11030,388640
265,China,Asia,Eastern Asia,Developing regions,860,870,560,580,1220,2190,...,16700,22220,29000,33410,29860,28820,32190,42920,54300,387180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,Saint Helena,Africa,Western Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
393,Saint Kitts and Nevis,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395,Saint Vincent and the Grenadines,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
230,Anguilla,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270,Comoros,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [85]:
ds1=ds1.sort_values('Total', ascending=False)
ds1

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
432,United Kingdom of Great Britain and Northern I...,Europe,Northern Europe,Developed regions,43540,57050,51730,31660,25150,27630,...,51000,52940,57330,70150,53140,53300,57250,61490,65160,1333340
367,New Zealand,Oceania,Australia and New Zealand,Developed regions,34370,34440,23920,13620,16900,27070,...,47230,45570,29500,28000,40710,44680,45550,39120,46960,898760
434,United States of America,Northern America,Northern America,Developed regions,10470,12080,12490,11110,11840,12480,...,18030,19230,18950,18980,18540,18490,17320,19260,20860,450370
266,"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,4170,4380,4980,5480,7450,6820,...,16410,18620,20200,19220,9740,10070,10270,9680,11030,388640
265,China,Asia,Eastern Asia,Developing regions,860,870,560,580,1220,2190,...,16700,22220,29000,33410,29860,28820,32190,42920,54300,387180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,Saint Kitts and Nevis,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
315,Holy See,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262,Central African Republic,Africa,Middle Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
392,Saint Helena,Africa,Western Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270,Comoros,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [87]:
ds1.to_csv(r'C:\Users\Laxmi Pujar\git\dsc_weekday_2020_09_24\Assignments\Bhushan\Australia_filtered.csv', index=False)