- Read sheet "Australia by Residence" from Australia.xlsx
- Ignore the first 20 rows.
- List all Column and Row indexes(Print their names)

Dataset Analysis
- Describe the dataset
- Use values and index attributes on both Row and Column Indexes
- Check Shape, Datatypes and other attributes and observe the datatype of each columns' data
  

Drop
- Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
- Find columns for which more than 50% data is missing and drop them (Column Deletion)
- Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion)
    Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

Rename
- Rename columns :OdName -> Country; RegName -> Region
- Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
- Find Total number of immigrants for all years, and create a new column Total in data Frame

Head Tail Sort
- Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
    - find something weird in the dataset ? Delete that row 'world'
- Analyze last few rows also in the sorted result (Don't sort inplace)

- Check if these have all unique values or not:
    - countries
    - continents (AreaName)
    - country continent pairs


- Find countries for which no of immigrants for all years is 0
- Find count of above countries
- Find countries for which no of immigrants is 0 for any year

Save Data
- Drop the row where AreaName is 'World'
- Save the dataset to a new file AustraliaFiltered.xlsx

In [1]:
#Read sheet "Australia by Residence" from Australia.xlsx
#Ignore the first 20 rows.
import pandas as pd
import numpy as np

df1 = pd.read_excel(r"c:\Users\srr07\Desktop\GitPython\dsc_weekday_2020_09_24\Assignments\Sreenivas\Assignment_IMMIGRANTS\Australia.xlsx","Australia by Residence",skiprows = 20)

In [2]:
df1

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Emigrants,Both,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,0,...,80,120,70,80,120,..,..,..,..,..
1,Emigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,30,40,30,30,30,..,..,..,..,..
2,Emigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,20,...,20,20,30,40,50,..,..,..,..,..
3,Emigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,10,...,0,0,0,0,0,..,..,..,..,..
4,Emigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,0,0,0,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,40,20,10,40,40,..,..,..,..,..
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,370,240,410,410,400,..,..,..,..,..
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,1790,1560,1880,2180,2270,..,..,..,..,..
446,Immigrants,Both,Unknown,999,World,999,World,999,World,4060,...,1650,1800,2320,18310,4970,..,..,..,..,..
447,Immigrants,Both,Total,999,World,999,World,999,World,184290,...,350990,363470,402210,460650,535970,..,..,..,..,..

In [3]:
df1.describe()

,AREA,REG,DEV,1980,1981,1982,1983,1984,1985,1986,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
count,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,...,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000
mean,912.955357,1208.040179,902.642857,1228.348214,1331.651786,1283.660714,1134.285714,1115.580357,1187.455357,1290.803571,...,2122.946429,2337.857143,2555.982143,2611.294643,2738.125000,2514.241071,2545.357143,2709.866071,3023.348214,3376.116071
std,15.019682,1109.669573,9.165500,10145.734028,11349.461111,10643.064898,8965.372332,8805.489574,9545.180624,10588.914966,...,16727.854191,18384.758383,20198.020921,20573.219253,21745.929611,19834.528214,20203.441660,21786.641444,24542.748186,27950.462893
min,903.000000,905.000000,901.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,903.750000,914.000000,902.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
50%,908.000000,922.000000,902.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,30.000000,35.000000,40.000000,45.000000,50.000000,50.000000,50.000000,60.000000,70.000000,75.000000
75%,909.000000,926.000000,902.000000,130.000000,140.000000,160.000000,150.000000,162.500000,162.500000,182.500000,...,362.500000,372.500000,360.000000,390.000000,420.000000,400.000000,410.000000,455.000000,480.000000,512.500000
max,999.000000,5501.000000,999.000000,184290.000000,212690.000000,195200.000000,153570.000000,153530.000000,172550.000000,196690.000000,...,289870.000000,317560.000000,356410.000000,361990.000000,388450.000000,350990.000000,363470.000000,402210.000000,460650.000000,535970.000000

In [4]:
#List all Column and Row indexes(Print their names) 
print(df1.columns)
print()
print(list(df1.index))

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447]

In [5]:
#Describe the dataset
df1.describe()

,AREA,REG,DEV,1980,1981,1982,1983,1984,1985,1986,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
count,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,...,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000
mean,912.955357,1208.040179,902.642857,1228.348214,1331.651786,1283.660714,1134.285714,1115.580357,1187.455357,1290.803571,...,2122.946429,2337.857143,2555.982143,2611.294643,2738.125000,2514.241071,2545.357143,2709.866071,3023.348214,3376.116071
std,15.019682,1109.669573,9.165500,10145.734028,11349.461111,10643.064898,8965.372332,8805.489574,9545.180624,10588.914966,...,16727.854191,18384.758383,20198.020921,20573.219253,21745.929611,19834.528214,20203.441660,21786.641444,24542.748186,27950.462893
min,903.000000,905.000000,901.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,903.750000,914.000000,902.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
50%,908.000000,922.000000,902.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,30.000000,35.000000,40.000000,45.000000,50.000000,50.000000,50.000000,60.000000,70.000000,75.000000
75%,909.000000,926.000000,902.000000,130.000000,140.000000,160.000000,150.000000,162.500000,162.500000,182.500000,...,362.500000,372.500000,360.000000,390.000000,420.000000,400.000000,410.000000,455.000000,480.000000,512.500000
max,999.000000,5501.000000,999.000000,184290.000000,212690.000000,195200.000000,153570.000000,153530.000000,172550.000000,196690.000000,...,289870.000000,317560.000000,356410.000000,361990.000000,388450.000000,350990.000000,363470.000000,402210.000000,460650.000000,535970.000000

In [6]:
#Use values and index attributes on both Row and Column Indexes
print(df1.columns.values)
print()
print(df1.index.values)

['Type' 'Coverage' 'OdName' 'AREA' 'AreaName' 'REG' 'RegName' 'DEV'
 'DevName' 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991
 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013]

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447]

In [7]:
#Check Shape, Datatypes and other attributes and observe the datatype of each columns' data
print("------------------------  SHAPE   -----------------------")
print(df1.shape)
print("----------------------  Data Type  ----------------------")
print(df1.dtypes)
print("-------------------  AREA col Value   -------------------")
print(df1.AREA)
print("------------------------  MEAN   -----------------------")
print(df1.mean())
print()

------------------------  SHAPE   -----------------------
(448, 43)
----------------------  Data Type  ----------------------
Type        object
Coverage    object
OdName      object
AREA         int64
AreaName    object
REG          int64
RegName     object
DEV          int64
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
2009        object
2010        object
2011        object
2012        object
2013        object
dtype: object
-------------------  AREA col Value   -------------------
0      935
1      908
2      903
3      909
4      908
      ...
443    935
444    903
445    903
446    999
447    999
Name: AREA, Length: 448, dtype: int64
------------------------  MEAN   -----------------------
AREA     912.955357
REG     1208.040179
DEV      902.642857
1980    1228.348214
1981    1331.651786
1982    1283.660714
1983    1134.285714
1984    1115.580357
1985    1187.455357
1986    1290.803571
1987    1425.848214
1988    1601.026786
1989    1598.616071
1990    1658.571429
1991    1700.669643
1992    1625.535714
1993    1510.535714
1994    1623.214286
1995    1800.446429
1996    1873.169643
1997    1949.910714
1998    1999.955357
1999    2122.946429
2000    2337.857143
2001    2555.982143
2002    2611.294643
2003    2738.125000
2004    2514.241071
2005    2545.357143
2006    2709.866071
2007    3023.348214
2008    3376.116071
dtype: float64

In [8]:
#Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
df1.drop((df1[df1.Type!='Immigrants'].index),inplace = True)
df1

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
224,Immigrants,Both,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,10,...,80,110,180,140,560,..,..,..,..,..
225,Immigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,140,130,110,110,140,..,..,..,..,..
226,Immigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,10,...,20,50,30,30,60,..,..,..,..,..
227,Immigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,10,..,..,..,..,..
228,Immigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,10,10,0,10,10,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,40,20,10,40,40,..,..,..,..,..
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,370,240,410,410,400,..,..,..,..,..
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,1790,1560,1880,2180,2270,..,..,..,..,..
446,Immigrants,Both,Unknown,999,World,999,World,999,World,4060,...,1650,1800,2320,18310,4970,..,..,..,..,..
447,Immigrants,Both,Total,999,World,999,World,999,World,184290,...,350990,363470,402210,460650,535970,..,..,..,..,..

In [9]:
#Find columns for which more than 50% data is missing and drop them (Column Deletion)
df1 = df1.dropna(thresh=0.5*len(df1.values),axis=1)
a = df1.isna().sum()
b = df1.shape[0]
print(a/b*100)

Type        0.0
Coverage    0.0
OdName      0.0
AREA        0.0
AreaName    0.0
REG         0.0
RegName     0.0
DEV         0.0
DevName     0.0
1980        0.0
1981        0.0
1982        0.0
1983        0.0
1984        0.0
1985        0.0
1986        0.0
1987        0.0
1988        0.0
1989        0.0
1990        0.0
1991        0.0
1992        0.0
1993        0.0
1994        0.0
1995        0.0
1996        0.0
1997        0.0
1998        0.0
1999        0.0
2000        0.0
2001        0.0
2002        0.0
2003        0.0
2004        0.0
2005        0.0
2006        0.0
2007        0.0
2008        0.0
2009        0.0
2010        0.0
2011        0.0
2012        0.0
2013        0.0
dtype: float64

In [10]:
df1.drop(columns=['Type','Coverage','AREA','REG','DEV'],axis=1,inplace=True)
df1

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
224,Afghanistan,Asia,Southern Asia,Developing regions,10,20,30,30,70,100,...,80,110,180,140,560,..,..,..,..,..
225,Albania,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,140,130,110,110,140,..,..,..,..,..
226,Algeria,Africa,Northern Africa,Developing regions,10,50,30,10,20,20,...,20,50,30,30,60,..,..,..,..,..
227,American Samoa,Oceania,Polynesia,Developing regions,0,0,0,0,0,20,...,0,0,0,0,10,..,..,..,..,..
228,Andorra,Europe,Southern Europe,Developed regions,0,0,10,0,0,0,...,10,10,0,10,10,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Yemen,Asia,Western Asia,Developing regions,10,0,0,10,20,10,...,40,20,10,40,40,..,..,..,..,..
444,Zambia,Africa,Eastern Africa,Developing regions,150,110,120,180,130,170,...,370,240,410,410,400,..,..,..,..,..
445,Zimbabwe,Africa,Eastern Africa,Developing regions,630,1120,1190,980,640,500,...,1790,1560,1880,2180,2270,..,..,..,..,..
446,Unknown,World,World,World,4060,4440,4010,3220,3970,4610,...,1650,1800,2320,18310,4970,..,..,..,..,..
447,Total,World,World,World,184290,212690,195200,153570,153530,172550,...,350990,363470,402210,460650,535970,..,..,..,..,..

In [11]:
#Rename columns :OdName -> Country; RegName -> Region
df1.rename(columns={"OdName":"Country","RegName": "Region"},inplace=True)
df1

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
224,Afghanistan,Asia,Southern Asia,Developing regions,10,20,30,30,70,100,...,80,110,180,140,560,..,..,..,..,..
225,Albania,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,140,130,110,110,140,..,..,..,..,..
226,Algeria,Africa,Northern Africa,Developing regions,10,50,30,10,20,20,...,20,50,30,30,60,..,..,..,..,..
227,American Samoa,Oceania,Polynesia,Developing regions,0,0,0,0,0,20,...,0,0,0,0,10,..,..,..,..,..
228,Andorra,Europe,Southern Europe,Developed regions,0,0,10,0,0,0,...,10,10,0,10,10,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Yemen,Asia,Western Asia,Developing regions,10,0,0,10,20,10,...,40,20,10,40,40,..,..,..,..,..
444,Zambia,Africa,Eastern Africa,Developing regions,150,110,120,180,130,170,...,370,240,410,410,400,..,..,..,..,..
445,Zimbabwe,Africa,Eastern Africa,Developing regions,630,1120,1190,980,640,500,...,1790,1560,1880,2180,2270,..,..,..,..,..
446,Unknown,World,World,World,4060,4440,4010,3220,3970,4610,...,1650,1800,2320,18310,4970,..,..,..,..,..
447,Total,World,World,World,184290,212690,195200,153570,153530,172550,...,350990,363470,402210,460650,535970,..,..,..,..,..

In [12]:
#Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
df1.columns = df1.columns.astype(str)
df1.columns.map(type)

Index([<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>],
      dtype='object')

In [13]:
#Find Total number of immigrants for all years, and create a new column Total in data Frame
df1['Total']=df1[df1.columns[4:]].sum(axis=1)
df1

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
224,Afghanistan,Asia,Southern Asia,Developing regions,10,20,30,30,70,100,...,110,180,140,560,..,..,..,..,..,4630
225,Albania,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,130,110,110,140,..,..,..,..,..,1910
226,Algeria,Africa,Northern Africa,Developing regions,10,50,30,10,20,20,...,50,30,30,60,..,..,..,..,..,730
227,American Samoa,Oceania,Polynesia,Developing regions,0,0,0,0,0,20,...,0,0,0,10,..,..,..,..,..,30
228,Andorra,Europe,Southern Europe,Developed regions,0,0,10,0,0,0,...,10,0,10,10,..,..,..,..,..,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Yemen,Asia,Western Asia,Developing regions,10,0,0,10,20,10,...,20,10,40,40,..,..,..,..,..,570
444,Zambia,Africa,Eastern Africa,Developing regions,150,110,120,180,130,170,...,240,410,410,400,..,..,..,..,..,5590
445,Zimbabwe,Africa,Eastern Africa,Developing regions,630,1120,1190,980,640,500,...,1560,1880,2180,2270,..,..,..,..,..,27350
446,Unknown,World,World,World,4060,4440,4010,3220,3970,4610,...,1800,2320,18310,4970,..,..,..,..,..,141660
447,Total,World,World,World,184290,212690,195200,153570,153530,172550,...,363470,402210,460650,535970,..,..,..,..,..,7965110

In [14]:
#Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
df1.sort_values('Total',ascending=0,axis=0,inplace=True,kind='quicksort')
df1.head()

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
447,Total,World,World,World,184290,212690,195200,153570,153530,172550,...,363470,402210,460650,535970,..,..,..,..,..,7965110
432,United Kingdom of Great Britain and Northern I...,Europe,Northern Europe,Developed regions,43540,57050,51730,31660,25150,27630,...,53300,57250,61490,65160,..,..,..,..,..,1333340
367,New Zealand,Oceania,Australia and New Zealand,Developed regions,34370,34440,23920,13620,16900,27070,...,44680,45550,39120,46960,..,..,..,..,..,898760
434,United States of America,Northern America,Northern America,Developed regions,10470,12080,12490,11110,11840,12480,...,18490,17320,19260,20860,..,..,..,..,..,450370
266,"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,4170,4380,4980,5480,7450,6820,...,10070,10270,9680,11030,..,..,..,..,..,388640

In [15]:
#find something weird in the dataset ? Delete that row 'world'
df1=df1[df1.Country!='Total']
df1

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
432,United Kingdom of Great Britain and Northern I...,Europe,Northern Europe,Developed regions,43540,57050,51730,31660,25150,27630,...,53300,57250,61490,65160,..,..,..,..,..,1333340
367,New Zealand,Oceania,Australia and New Zealand,Developed regions,34370,34440,23920,13620,16900,27070,...,44680,45550,39120,46960,..,..,..,..,..,898760
434,United States of America,Northern America,Northern America,Developed regions,10470,12080,12490,11110,11840,12480,...,18490,17320,19260,20860,..,..,..,..,..,450370
266,"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,4170,4380,4980,5480,7450,6820,...,10070,10270,9680,11030,..,..,..,..,..,388640
265,China,Asia,Eastern Asia,Developing regions,860,870,560,580,1220,2190,...,28820,32190,42920,54300,..,..,..,..,..,387180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,Saint Helena,Africa,Western Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
393,Saint Kitts and Nevis,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
395,Saint Vincent and the Grenadines,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
230,Anguilla,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
270,Comoros,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0

In [16]:
#Check if these have all unique values or not:
#countries
#continents (AreaName)
#country continent pairs
print(df1.Country.unique())
print()
print(df1.AreaName.unique())
print()
print(df1.Region.unique())

['United Kingdom of Great Britain and Northern Ireland' 'New Zealand'
 'United States of America'
 'China, Hong Kong Special Administrative Region' 'China' 'Malaysia'
 'India' 'Japan' 'Singapore' 'Indonesia' 'Philippines' 'South Africa'
 'Thailand' 'Republic of Korea' 'Unknown' 'Canada' 'Germany' 'Viet Nam'
 'Ireland' 'Papua New Guinea' 'China, Taiwan Province of China' 'Greece'
 'Lebanon' 'Fiji' 'Sri Lanka' 'Italy' 'France' 'Turkey' 'Netherlands'
 'Pakistan' 'Egypt' 'Switzerland' 'United Arab Emirates' 'Austria'
 'Sweden' 'Bangladesh' 'Israel' 'Poland' 'Iran (Islamic Republic of)'
 'Zimbabwe' 'Nepal' 'Kenya' 'Chile' 'Saudi Arabia' 'Spain' 'Portugal'
 'Brazil' 'Norway' 'Mauritius' 'Denmark' 'Brunei Darussalam'
 'Syrian Arab Republic' 'Jordan' 'Argentina' 'Malta'
 'Bosnia and Herzegovina' 'Croatia' 'Cyprus' 'Cambodia' 'Iraq' 'Colombia'
 'Romania' 'Russian Federation' 'Belgium' 'El Salvador' 'Tonga'
 'The former Yugoslav Republic of Macedonia' 'Peru' 'Samoa' 'Finland'
 'Hungary' 'Myanmar' 'Sudan' 'Solomon Islands' 'Mexico' 'New Caledonia'
 'Ukraine' 'United Republic of Tanzania' 'Vanuatu'
 'China, Macao Special Administrative Region' 'Kuwait' 'Zambia' 'Botswana'
 'Bahrain' 'Ghana' 'Guinea' 'Oman' 'Uganda' 'Uruguay' 'Ethiopia'
 'Afghanistan' 'Nigeria' 'Czech Republic'
 "Lao People's Democratic Republic" 'Australia' 'Cook Islands' 'Qatar'
 'Slovakia' 'Venezuela (Bolivarian Republic of)' 'Nauru' 'Seychelles'
 'Bulgaria' 'Timor-Leste' 'Slovenia' 'Somalia' 'Maldives' 'Ecuador'
 'French Polynesia' 'Albania' 'Malawi' 'Kiribati' 'Costa Rica' 'Libya'
 'Mongolia' 'Latvia' 'Kazakhstan' 'Morocco'
 'Bolivia (Plurinational State of)' 'Iceland' 'Mozambique' 'Namibia'
 'Jamaica' 'Trinidad and Tobago' 'Bhutan' 'Bermuda' 'Uzbekistan' 'Guam'
 'Estonia' 'Algeria' 'Tuvalu' 'Niger' 'Belarus' 'Luxembourg' 'Lithuania'
 'Guatemala' 'Swaziland' 'Yemen' 'Réunion' 'Armenia' 'Sierra Leone'
 'Mauritania' 'Eritrea' 'Madagascar' 'Bahamas' 'Republic of Moldova'
 'Cuba' 'Kyrgyzstan' 'Nicaragua' 'Paraguay' 'Lesotho' 'Benin' 'Senegal'
 'Barbados' 'Honduras' 'Azerbaijan' 'Congo' 'Cayman Islands' 'Tunisia'
 'Cameroon' 'Djibouti' 'Panama' 'Democratic Republic of the Congo'
 'Micronesia (Federated States of)' 'Guyana' 'Georgia' 'Gambia'
 'Marshall Islands' 'Liberia' 'Rwanda' 'Monaco' 'Palau' "Côte d'Ivoire"
 'Angola' 'Niue' 'Tokelau' 'Falkland Islands (Malvinas)' 'Andorra'
 'Dominica' 'Gibraltar' 'Chad' 'Antigua and Barbuda' 'Dominican Republic'
 'Mali' 'British Virgin Islands' 'State of Palestine' 'Suriname'
 'Tajikistan' 'Burundi' 'Gabon' 'Belize' 'Puerto Rico' 'Togo' 'Grenada'
 'American Samoa' 'Burkina Faso' 'Guinea-Bissau' 'Haiti' 'Saint Lucia'
 "Democratic People's Republic of Korea" 'Cabo Verde'
 'Northern Mariana Islands' 'Equatorial Guinea'
 'Wallis and Futuna Islands' 'Aruba' 'Faeroe Islands' 'Martinique'
 'Turkmenistan' 'Liechtenstein' 'French Guiana' 'Montserrat'
 'Western Sahara' 'Guadeloupe' 'Mayotte' 'Turks and Caicos Islands'
 'United States Virgin Islands' 'Holy See' 'Greenland'
 'Central African Republic' 'Saint Helena' 'Saint Kitts and Nevis'
 'Saint Vincent and the Grenadines' 'Anguilla' 'Comoros']

['Europe' 'Oceania' 'Northern America' 'Asia' 'Africa' 'World'
 'Latin America and the Caribbean']

['Northern Europe' 'Australia and New Zealand' 'Northern America'
 'Eastern Asia' 'South-Eastern Asia' 'Southern Asia' 'Southern Africa'
 'World' 'Western Europe' 'Melanesia' 'Southern Europe' 'Western Asia'
 'Northern Africa' 'Eastern Europe' 'Eastern Africa' 'South America'
 'Central America' 'Polynesia' 'Western Africa' 'Micronesia'
 'Central Asia' 'Caribbean' 'Middle Africa']

In [17]:
#Find countries for which no of immigrants for all years is 0
df1[df1.Total == 0]

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
442,Western Sahara,Africa,Northern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
308,Guadeloupe,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
353,Mayotte,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
427,Turks and Caicos Islands,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
435,United States Virgin Islands,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
315,Holy See,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
306,Greenland,Northern America,Northern America,Developed regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
262,Central African Republic,Africa,Middle Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
392,Saint Helena,Africa,Western Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
393,Saint Kitts and Nevis,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
395,Saint Vincent and the Grenadines,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
230,Anguilla,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0
270,Comoros,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,..,..,..,..,..,0

In [18]:
#Find count of above countries
df1[df1.Total == 0].Country.count()

13

In [19]:
#Find countries for which no of immigrants is 0 for any year

In [22]:
#Drop the row where AreaName is 'World'
df1.drop(columns=[df1.AreaName == 'World'],inplace=True)

KeyError: '[(False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False)] not found in axis'

In [24]:
#Save the dataset to a new file AustraliaFiltered.xlsx
df1.to_excel(r"c:\Users\srr07\Desktop\GitPython\dsc_weekday_2020_09_24\Assignments\Sreenivas\Assignment_IMMIGRANTS\Australia_Filtered.xlsx")