- Read sheet "Australia by Residence" from Australia.xlsx
- Ignore the first 20 rows.
- List all Column and Row indexes(Print their names)

Dataset Analysis
- Describe the dataset
- Use values and index attributes on both Row and Column Indexes
- Check Shape, Datatypes and other attributes and observe the datatype of each columns' data
  

Drop
- Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
- Find columns for which more than 50% data is missing and drop them (Column Deletion)
- Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion)
    Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

Rename
- Rename columns :OdName -> Country; RegName -> Region
- Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
- Find Total number of immigrants for all years, and create a new column Total in data Frame

Head Tail Sort
- Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
    - find something weird in the dataset ? Delete that row 'world'
- Analyze last few rows also in the sorted result (Don't sort inplace)

- Check if these have all unique values or not:
    - countries
    - continents (AreaName)
    - country continent pairs


- Find countries for which no of immigrants for all years is 0
- Find count of above countries
- Find countries for which no of immigrants is 0 for any year

Save Data
- Drop the row where AreaName is 'World'
- Save the dataset to a new file AustraliaFiltered.xlsx

In [277]:
import pandas as pd
import numpy as np
imm=pd.read_excel(r'C:\Users\Shikha\Desktop\dsc_weekday_2020_09_24 - Copy\submitted assignments\Assignment_IMMIGRANTS\Australia.xlsx',sheet_name="Australia by Residence",skip_rows=19,header=20)
print(imm)

           Type Coverage          OdName  AREA AreaName   REG  \
0     Emigrants     Both     Afghanistan   935     Asia  5501
1     Emigrants     Both         Albania   908   Europe   925
2     Emigrants     Both         Algeria   903   Africa   912
3     Emigrants     Both  American Samoa   909  Oceania   957
4     Emigrants     Both         Andorra   908   Europe   925
..          ...      ...             ...   ...      ...   ...
443  Immigrants     Both           Yemen   935     Asia   922
444  Immigrants     Both          Zambia   903   Africa   910
445  Immigrants     Both        Zimbabwe   903   Africa   910
446  Immigrants     Both         Unknown   999    World   999
447  Immigrants     Both           Total   999    World   999

             RegName  DEV             DevName    1980  ...    2004    2005  \
0      Southern Asia  902  Developing regions       0  ...      80     120
1    Southern Europe  901   Developed regions       0  ...      30      40
2    Northern Africa  902  Developing regions      20  ...      20      20
3          Polynesia  902  Developing regions      10  ...       0       0
4    Southern Europe  901   Developed regions       0  ...       0       0
..               ...  ...                 ...     ...  ...     ...     ...
443     Western Asia  902  Developing regions      10  ...      40      20
444   Eastern Africa  902  Developing regions     150  ...     370     240
445   Eastern Africa  902  Developing regions     630  ...    1790    1560
446            World  999               World    4060  ...    1650    1800
447            World  999               World  184290  ...  350990  363470

       2006    2007    2008  2009  2010  2011  2012  2013
0        70      80     120    ..    ..    ..    ..    ..
1        30      30      30    ..    ..    ..    ..    ..
2        30      40      50    ..    ..    ..    ..    ..
3         0       0       0    ..    ..    ..    ..    ..
4         0       0       0    ..    ..    ..    ..    ..
..      ...     ...     ...   ...   ...   ...   ...   ...
443      10      40      40    ..    ..    ..    ..    ..
444     410     410     400    ..    ..    ..    ..    ..
445    1880    2180    2270    ..    ..    ..    ..    ..
446    2320   18310    4970    ..    ..    ..    ..    ..
447  402210  460650  535970    ..    ..    ..    ..    ..

[448 rows x 43 columns]

In [278]:
#- List all Column and Row indexes(Print their names)
print(imm.columns)
print(imm.index)

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')
RangeIndex(start=0, stop=448, step=1)

In [279]:
# Describe the dataset
imm.describe(include='all')

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
count,448,448,448,448.000000,448,448.000000,448,448.000000,448,448.000000,...,448.000000,448.000000,448.000000,448.000000,448.000000,448,448,448,448,448
unique,2,1,224,NaN,7,NaN,23,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,1,1,1,1,1
top,Immigrants,Both,Senegal,NaN,Africa,NaN,Caribbean,NaN,Developing regions,NaN,...,NaN,NaN,NaN,NaN,NaN,..,..,..,..,..
freq,224,448,2,NaN,112,NaN,46,NaN,344,NaN,...,NaN,NaN,NaN,NaN,NaN,448,448,448,448,448
mean,NaN,NaN,NaN,912.955357,NaN,1208.040179,NaN,902.642857,NaN,1228.348214,...,2514.241071,2545.357143,2709.866071,3023.348214,3376.116071,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,15.019682,NaN,1109.669573,NaN,9.165500,NaN,10145.734028,...,19834.528214,20203.441660,21786.641444,24542.748186,27950.462893,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,903.000000,NaN,905.000000,NaN,901.000000,NaN,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,903.750000,NaN,914.000000,NaN,902.000000,NaN,0.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,908.000000,NaN,922.000000,NaN,902.000000,NaN,10.000000,...,50.000000,50.000000,60.000000,70.000000,75.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,909.000000,NaN,926.000000,NaN,902.000000,NaN,130.000000,...,400.000000,410.000000,455.000000,480.000000,512.500000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,999.000000,NaN,5501.000000,NaN,999.000000,NaN,184290.000000,...,350990.000000,363470.000000,402210.000000,460650.000000,535970.000000,NaN,NaN,NaN,NaN,NaN

In [280]:
print(imm)

           Type Coverage          OdName  AREA AreaName   REG  \
0     Emigrants     Both     Afghanistan   935     Asia  5501
1     Emigrants     Both         Albania   908   Europe   925
2     Emigrants     Both         Algeria   903   Africa   912
3     Emigrants     Both  American Samoa   909  Oceania   957
4     Emigrants     Both         Andorra   908   Europe   925
..          ...      ...             ...   ...      ...   ...
443  Immigrants     Both           Yemen   935     Asia   922
444  Immigrants     Both          Zambia   903   Africa   910
445  Immigrants     Both        Zimbabwe   903   Africa   910
446  Immigrants     Both         Unknown   999    World   999
447  Immigrants     Both           Total   999    World   999

             RegName  DEV             DevName    1980  ...    2004    2005  \
0      Southern Asia  902  Developing regions       0  ...      80     120
1    Southern Europe  901   Developed regions       0  ...      30      40
2    Northern Africa  902  Developing regions      20  ...      20      20
3          Polynesia  902  Developing regions      10  ...       0       0
4    Southern Europe  901   Developed regions       0  ...       0       0
..               ...  ...                 ...     ...  ...     ...     ...
443     Western Asia  902  Developing regions      10  ...      40      20
444   Eastern Africa  902  Developing regions     150  ...     370     240
445   Eastern Africa  902  Developing regions     630  ...    1790    1560
446            World  999               World    4060  ...    1650    1800
447            World  999               World  184290  ...  350990  363470

       2006    2007    2008  2009  2010  2011  2012  2013
0        70      80     120    ..    ..    ..    ..    ..
1        30      30      30    ..    ..    ..    ..    ..
2        30      40      50    ..    ..    ..    ..    ..
3         0       0       0    ..    ..    ..    ..    ..
4         0       0       0    ..    ..    ..    ..    ..
..      ...     ...     ...   ...   ...   ...   ...   ...
443      10      40      40    ..    ..    ..    ..    ..
444     410     410     400    ..    ..    ..    ..    ..
445    1880    2180    2270    ..    ..    ..    ..    ..
446    2320   18310    4970    ..    ..    ..    ..    ..
447  402210  460650  535970    ..    ..    ..    ..    ..

[448 rows x 43 columns]

In [281]:
#List all Column and Row indexes(Print their names)
print(imm.columns)
print(imm.index)

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')
RangeIndex(start=0, stop=448, step=1)

In [282]:
#Describe the dataset
imm.describe(include="all")

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
count,448,448,448,448.000000,448,448.000000,448,448.000000,448,448.000000,...,448.000000,448.000000,448.000000,448.000000,448.000000,448,448,448,448,448
unique,2,1,224,NaN,7,NaN,23,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,1,1,1,1,1
top,Immigrants,Both,Senegal,NaN,Africa,NaN,Caribbean,NaN,Developing regions,NaN,...,NaN,NaN,NaN,NaN,NaN,..,..,..,..,..
freq,224,448,2,NaN,112,NaN,46,NaN,344,NaN,...,NaN,NaN,NaN,NaN,NaN,448,448,448,448,448
mean,NaN,NaN,NaN,912.955357,NaN,1208.040179,NaN,902.642857,NaN,1228.348214,...,2514.241071,2545.357143,2709.866071,3023.348214,3376.116071,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,15.019682,NaN,1109.669573,NaN,9.165500,NaN,10145.734028,...,19834.528214,20203.441660,21786.641444,24542.748186,27950.462893,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,903.000000,NaN,905.000000,NaN,901.000000,NaN,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,903.750000,NaN,914.000000,NaN,902.000000,NaN,0.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,908.000000,NaN,922.000000,NaN,902.000000,NaN,10.000000,...,50.000000,50.000000,60.000000,70.000000,75.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,909.000000,NaN,926.000000,NaN,902.000000,NaN,130.000000,...,400.000000,410.000000,455.000000,480.000000,512.500000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,999.000000,NaN,5501.000000,NaN,999.000000,NaN,184290.000000,...,350990.000000,363470.000000,402210.000000,460650.000000,535970.000000,NaN,NaN,NaN,NaN,NaN

In [283]:
#Use values and index attributes on both Row and Column Indexes
t=imm.columns.values
print(t,t.dtype)
print(imm.index.values)

['Type' 'Coverage' 'OdName' 'AREA' 'AreaName' 'REG' 'RegName' 'DEV'
 'DevName' 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991
 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013] object
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447]

In [284]:
#Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
imm.drop(imm.index[imm.Type=="Emigrants"] | imm.index[imm.Type !="Immigrants"],inplace=True)
imm

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
224,Immigrants,Both,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,10,...,80,110,180,140,560,..,..,..,..,..
225,Immigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,140,130,110,110,140,..,..,..,..,..
226,Immigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,10,...,20,50,30,30,60,..,..,..,..,..
227,Immigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,10,..,..,..,..,..
228,Immigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,10,10,0,10,10,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,40,20,10,40,40,..,..,..,..,..
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,370,240,410,410,400,..,..,..,..,..
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,1790,1560,1880,2180,2270,..,..,..,..,..
446,Immigrants,Both,Unknown,999,World,999,World,999,World,4060,...,1650,1800,2320,18310,4970,..,..,..,..,..
447,Immigrants,Both,Total,999,World,999,World,999,World,184290,...,350990,363470,402210,460650,535970,..,..,..,..,..

In [285]:
#Find columns for which more than 50% data is missing and drop them
imm.replace('..',np.nan,inplace = True)
print(imm)
imm.isna().sum()
imm.shape[0]
imm.dropna(thresh = 0.5*(imm.shape[0]),axis=1,inplace = True)
imm

           Type Coverage          OdName  AREA AreaName   REG  \
224  Immigrants     Both     Afghanistan   935     Asia  5501
225  Immigrants     Both         Albania   908   Europe   925
226  Immigrants     Both         Algeria   903   Africa   912
227  Immigrants     Both  American Samoa   909  Oceania   957
228  Immigrants     Both         Andorra   908   Europe   925
..          ...      ...             ...   ...      ...   ...
443  Immigrants     Both           Yemen   935     Asia   922
444  Immigrants     Both          Zambia   903   Africa   910
445  Immigrants     Both        Zimbabwe   903   Africa   910
446  Immigrants     Both         Unknown   999    World   999
447  Immigrants     Both           Total   999    World   999

             RegName  DEV             DevName    1980  ...    2004    2005  \
224    Southern Asia  902  Developing regions      10  ...      80     110
225  Southern Europe  901   Developed regions       0  ...     140     130
226  Northern Africa  902  Developing regions      10  ...      20      50
227        Polynesia  902  Developing regions       0  ...       0       0
228  Southern Europe  901   Developed regions       0  ...      10      10
..               ...  ...                 ...     ...  ...     ...     ...
443     Western Asia  902  Developing regions      10  ...      40      20
444   Eastern Africa  902  Developing regions     150  ...     370     240
445   Eastern Africa  902  Developing regions     630  ...    1790    1560
446            World  999               World    4060  ...    1650    1800
447            World  999               World  184290  ...  350990  363470

       2006    2007    2008  2009  2010  2011  2012  2013
224     180     140     560   NaN   NaN   NaN   NaN   NaN
225     110     110     140   NaN   NaN   NaN   NaN   NaN
226      30      30      60   NaN   NaN   NaN   NaN   NaN
227       0       0      10   NaN   NaN   NaN   NaN   NaN
228       0      10      10   NaN   NaN   NaN   NaN   NaN
..      ...     ...     ...   ...   ...   ...   ...   ...
443      10      40      40   NaN   NaN   NaN   NaN   NaN
444     410     410     400   NaN   NaN   NaN   NaN   NaN
445    1880    2180    2270   NaN   NaN   NaN   NaN   NaN
446    2320   18310    4970   NaN   NaN   NaN   NaN   NaN
447  402210  460650  535970   NaN   NaN   NaN   NaN   NaN

[224 rows x 43 columns]

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
224,Immigrants,Both,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,10,...,270,100,20,40,70,80,110,180,140,560
225,Immigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,70,110,110,200,250,140,130,110,110,140
226,Immigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,10,...,30,20,30,60,20,20,50,30,30,60
227,Immigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,10
228,Immigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,10,0,10,10,0,10,10,0,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,20,20,60,40,150,40,20,10,40,40
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,60,100,190,260,430,370,240,410,410,400
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,510,910,1500,1670,2330,1790,1560,1880,2180,2270
446,Immigrants,Both,Unknown,999,World,999,World,999,World,4060,...,2850,5500,5090,2160,1760,1650,1800,2320,18310,4970
447,Immigrants,Both,Total,999,World,999,World,999,World,184290,...,289870,317560,356410,361990,388450,350990,363470,402210,460650,535970

In [287]:
#Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion)
imm.drop(columns=["Type","Coverage","AREA","REG","DEV"],inplace = True)
imm

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
224,Afghanistan,Asia,Southern Asia,Developing regions,10,20,30,30,70,100,...,270,100,20,40,70,80,110,180,140,560
225,Albania,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,70,110,110,200,250,140,130,110,110,140
226,Algeria,Africa,Northern Africa,Developing regions,10,50,30,10,20,20,...,30,20,30,60,20,20,50,30,30,60
227,American Samoa,Oceania,Polynesia,Developing regions,0,0,0,0,0,20,...,0,0,0,0,0,0,0,0,0,10
228,Andorra,Europe,Southern Europe,Developed regions,0,0,10,0,0,0,...,10,0,10,10,0,10,10,0,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Yemen,Asia,Western Asia,Developing regions,10,0,0,10,20,10,...,20,20,60,40,150,40,20,10,40,40
444,Zambia,Africa,Eastern Africa,Developing regions,150,110,120,180,130,170,...,60,100,190,260,430,370,240,410,410,400
445,Zimbabwe,Africa,Eastern Africa,Developing regions,630,1120,1190,980,640,500,...,510,910,1500,1670,2330,1790,1560,1880,2180,2270
446,Unknown,World,World,World,4060,4440,4010,3220,3970,4610,...,2850,5500,5090,2160,1760,1650,1800,2320,18310,4970
447,Total,World,World,World,184290,212690,195200,153570,153530,172550,...,289870,317560,356410,361990,388450,350990,363470,402210,460650,535970

In [288]:
imm.isna().sum()

OdName      0
AreaName    0
RegName     0
DevName     0
1980        0
1981        0
1982        0
1983        0
1984        0
1985        0
1986        0
1987        0
1988        0
1989        0
1990        0
1991        0
1992        0
1993        0
1994        0
1995        0
1996        0
1997        0
1998        0
1999        0
2000        0
2001        0
2002        0
2003        0
2004        0
2005        0
2006        0
2007        0
2008        0
dtype: int64

In [289]:
#Rename columns :OdName -> Country; RegName -> Region
imm.rename(columns={"OdName":"Country","RegName":"Region"},inplace = True)
imm

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
224,Afghanistan,Asia,Southern Asia,Developing regions,10,20,30,30,70,100,...,270,100,20,40,70,80,110,180,140,560
225,Albania,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,70,110,110,200,250,140,130,110,110,140
226,Algeria,Africa,Northern Africa,Developing regions,10,50,30,10,20,20,...,30,20,30,60,20,20,50,30,30,60
227,American Samoa,Oceania,Polynesia,Developing regions,0,0,0,0,0,20,...,0,0,0,0,0,0,0,0,0,10
228,Andorra,Europe,Southern Europe,Developed regions,0,0,10,0,0,0,...,10,0,10,10,0,10,10,0,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Yemen,Asia,Western Asia,Developing regions,10,0,0,10,20,10,...,20,20,60,40,150,40,20,10,40,40
444,Zambia,Africa,Eastern Africa,Developing regions,150,110,120,180,130,170,...,60,100,190,260,430,370,240,410,410,400
445,Zimbabwe,Africa,Eastern Africa,Developing regions,630,1120,1190,980,640,500,...,510,910,1500,1670,2330,1790,1560,1880,2180,2270
446,Unknown,World,World,World,4060,4440,4010,3220,3970,4610,...,2850,5500,5090,2160,1760,1650,1800,2320,18310,4970
447,Total,World,World,World,184290,212690,195200,153570,153530,172550,...,289870,317560,356410,361990,388450,350990,363470,402210,460650,535970

In [191]:
#Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)

[False False False False nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]
['T', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__init__', '__init_subclass__', '__inv__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_add_comparison_methods', '_add_logical_methods', '_add_logical_methods_disabled', '_add_numeric_methods', '_add_numeric_methods_add_sub_disabled', '_add_numeric_methods_binary', '_add_numeric_methods_disabled', '_add_numeric_methods_unary', '_assert_can_do_op', '_assert_can_do_setop', '_assert_take_fillable', '_attributes', '_can_hold_identifiers_and_holds_name', '_can_hold_na', '_can_reindex', '_cleanup', '_coerce_scalar_to_index', '_comparables', '_concat', '_concat_same_dtype', '_constructor', '_convert_arr_indexer', '_convert_can_do_setop', '_convert_for_op', '_convert_index_indexer', '_convert_list_indexer', '_convert_listlike_indexer', '_convert_scalar_indexer', '_convert_slice_indexer', '_convert_tolerance', '_defer_to_indexing', '_deprecations', '_dir_additions', '_dir_deletions', '_engine', '_engine_type', '_filter_indexer_tolerance', '_format_attrs', '_format_data', '_format_native_types', '_format_space', '_format_with_header', '_formatter_func', '_get_attributes_dict', '_get_fill_indexer', '_get_fill_indexer_searchsorted', '_get_grouper_for_level', '_get_level_number', '_get_level_values', '_get_names', '_get_nearest_indexer', '_get_reconciled_name_object', '_get_string_slice', '_get_unique_index', '_has_complex_internals', '_id', '_infer_as_myclass', '_inner_indexer', '_internal_get_values', '_invalid_indexer', '_is_compatible_with_other', '_is_memory_usage_qualified', '_is_numeric_dtype', '_is_strictly_monotonic_decreasing', '_is_strictly_monotonic_increasing', '_isnan', '_join_level', '_join_monotonic', '_join_multi', '_join_non_unique', '_join_precedence', '_left_indexer', '_left_indexer_unique', '_map_values', '_maybe_cast_indexer', '_maybe_cast_slice_bound', '_maybe_promote', '_mpl_repr', '_na_value', '_name', '_nan_idxs', '_ndarray_values', '_no_setting_name', '_outer_indexer', '_reduce', '_reindex_non_unique', '_reset_cache', '_reset_identity', '_scalar_data_error', '_searchsorted_monotonic', '_set_names', '_shallow_copy', '_shallow_copy_with_infer', '_simple_new', '_sort_levels_monotonic', '_string_data_error', '_summary', '_supports_partial_string_indexing', '_to_safe_for_reshape', '_typ', '_union', '_union_incompatible_dtypes', '_update_inplace', '_validate_index_level', '_validate_indexer', '_validate_names', '_validate_sort_keyword', '_values', '_wrap_joined_index', '_wrap_setop_result', 'all', 'any', 'append', 'argmax', 'argmin', 'argsort', 'array', 'asi8', 'asof', 'asof_locs', 'astype', 'copy', 'delete', 'difference', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'duplicated', 'empty', 'equals', 'factorize', 'fillna', 'format', 'get_indexer', 'get_indexer_for', 'get_indexer_non_unique', 'get_level_values', 'get_loc', 'get_slice_bound', 'get_value', 'groupby', 'has_duplicates', 'hasnans', 'holds_integer', 'identical', 'inferred_type', 'insert', 'intersection', 'is_', 'is_all_dates', 'is_boolean', 'is_categorical', 'is_floating', 'is_integer', 'is_interval', 'is_mixed', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_numeric', 'is_object', 'is_type_compatible', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'join', 'map', 'max', 'memory_usage', 'min', 'name', 'names', 'nbytes', 'ndim', 'nlevels', 'notna', 'notnull', 'nunique', 'putmask', 'ravel', 'reindex', 'rename', 'repeat', 'searchsorted', 'set_names', 'shape', 'shift', 'size', 'slice_indexer', 'slice_locs', 'sort', 'sort_values', 'sortlevel', 'symmetric_difference', 'take', 'to_flat_index', 'to_frame', 'to_list', 'to_native_types', 'to_numpy', 'to_series', 'transpose', 'union', 'unique', 'value_counts', 'values', 'view', 'where']

Country     object
AreaName    object
Region      object
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
dtype: object

In [291]:
# Find Total number of immigrants for all years, and create a new column Total in data Frame
idx=imm.columns[4:33]
#imm['Total']=imm[idx].sum(axis=1)
imm

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
224,Afghanistan,Asia,Southern Asia,Developing regions,10,20,30,30,70,100,...,100,20,40,70,80,110,180,140,560,4630
225,Albania,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,110,110,200,250,140,130,110,110,140,1910
226,Algeria,Africa,Northern Africa,Developing regions,10,50,30,10,20,20,...,20,30,60,20,20,50,30,30,60,730
227,American Samoa,Oceania,Polynesia,Developing regions,0,0,0,0,0,20,...,0,0,0,0,0,0,0,0,10,30
228,Andorra,Europe,Southern Europe,Developed regions,0,0,10,0,0,0,...,0,10,10,0,10,10,0,10,10,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Yemen,Asia,Western Asia,Developing regions,10,0,0,10,20,10,...,20,60,40,150,40,20,10,40,40,570
444,Zambia,Africa,Eastern Africa,Developing regions,150,110,120,180,130,170,...,100,190,260,430,370,240,410,410,400,5590
445,Zimbabwe,Africa,Eastern Africa,Developing regions,630,1120,1190,980,640,500,...,910,1500,1670,2330,1790,1560,1880,2180,2270,27350
446,Unknown,World,World,World,4060,4440,4010,3220,3970,4610,...,5500,5090,2160,1760,1650,1800,2320,18310,4970,141660
447,Total,World,World,World,184290,212690,195200,153570,153530,172550,...,317560,356410,361990,388450,350990,363470,402210,460650,535970,7965110

In [292]:
#Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
print(imm.sort_values(by='Total',ascending =False))
imm.columns

                                               Country  \
447                                              Total
432  United Kingdom of Great Britain and Northern I...
367                                        New Zealand
434                           United States of America
266     China, Hong Kong Special Administrative Region
..                                                 ...
392                                       Saint Helena
393                              Saint Kitts and Nevis
395                   Saint Vincent and the Grenadines
230                                           Anguilla
270                                            Comoros

                            AreaName                     Region  \
447                            World                      World
432                           Europe            Northern Europe
367                          Oceania  Australia and New Zealand
434                 Northern America           Northern America
266                             Asia               Eastern Asia
..                               ...                        ...
392                           Africa             Western Africa
393  Latin America and the Caribbean                  Caribbean
395  Latin America and the Caribbean                  Caribbean
230  Latin America and the Caribbean                  Caribbean
270                           Africa             Eastern Africa

                DevName    1980    1981    1982    1983    1984    1985  ...  \
447               World  184290  212690  195200  153570  153530  172550  ...
432   Developed regions   43540   57050   51730   31660   25150   27630  ...
367   Developed regions   34370   34440   23920   13620   16900   27070  ...
434   Developed regions   10470   12080   12490   11110   11840   12480  ...
266  Developing regions    4170    4380    4980    5480    7450    6820  ...
..                  ...     ...     ...     ...     ...     ...     ...  ...
392  Developing regions       0       0       0       0       0       0  ...
393  Developing regions       0       0       0       0       0       0  ...
395  Developing regions       0       0       0       0       0       0  ...
230  Developing regions       0       0       0       0       0       0  ...
270  Developing regions       0       0       0       0       0       0  ...

       2000    2001    2002    2003    2004    2005    2006    2007    2008  \
447  317560  356410  361990  388450  350990  363470  402210  460650  535970
432   51000   52940   57330   70150   53140   53300   57250   61490   65160
367   47230   45570   29500   28000   40710   44680   45550   39120   46960
434   18030   19230   18950   18980   18540   18490   17320   19260   20860
266   16410   18620   20200   19220    9740   10070   10270    9680   11030
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
392       0       0       0       0       0       0       0       0       0
393       0       0       0       0       0       0       0       0       0
395       0       0       0       0       0       0       0       0       0
230       0       0       0       0       0       0       0       0       0
270       0       0       0       0       0       0       0       0       0

       Total
447  7965110
432  1333340
367   898760
434   450370
266   388640
..       ...
392        0
393        0
395        0
230        0
270        0

[224 rows x 34 columns]

Index([ 'Country', 'AreaName',   'Region',  'DevName',       1980,       1981,
             1982,       1983,       1984,       1985,       1986,       1987,
             1988,       1989,       1990,       1991,       1992,       1993,
             1994,       1995,       1996,       1997,       1998,       1999,
             2000,       2001,       2002,       2003,       2004,       2005,
             2006,       2007,       2008,    'Total'],
      dtype='object')

In [293]:
#- Check if these have all unique values or not:
   # - countries
    #- continents (AreaName)
    #- country continent pairs
print(imm.Country.unique().size)
print(imm.AreaName.unique().size)
print(imm.Region.unique().size)

224
7
23

In [294]:
# Find countries for which no of immigrants for all years is 0
imm1=imm[imm.Total.values==0]
imm1

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
230,Anguilla,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262,Central African Republic,Africa,Middle Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270,Comoros,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
306,Greenland,Northern America,Northern America,Developed regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
308,Guadeloupe,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
315,Holy See,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
353,Mayotte,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
392,Saint Helena,Africa,Western Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
393,Saint Kitts and Nevis,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395,Saint Vincent and the Grenadines,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
427,Turks and Caicos Islands,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
435,United States Virgin Islands,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
442,Western Sahara,Africa,Northern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [295]:
#Find count of above countries
imm1.Country.unique().size

13

In [296]:
#Find countries for which no of immigrants is 0 for any year
imm.Country[(imm.loc[:,:]==0).any(axis=1)]

225                         Albania
227                  American Samoa
228                         Andorra
229                          Angola
230                        Anguilla
                   ...
435    United States Virgin Islands
437                      Uzbekistan
441       Wallis and Futuna Islands
442                  Western Sahara
443                           Yemen
Name: Country, Length: 121, dtype: object

In [311]:
#Drop the row where AreaName is 'World'
imm.drop(imm.index[imm.AreaName=="World"],inplace=True)
imm

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
224,Afghanistan,Asia,Southern Asia,Developing regions,10,20,30,30,70,100,...,100,20,40,70,80,110,180,140,560,4630
225,Albania,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,110,110,200,250,140,130,110,110,140,1910
226,Algeria,Africa,Northern Africa,Developing regions,10,50,30,10,20,20,...,20,30,60,20,20,50,30,30,60,730
227,American Samoa,Oceania,Polynesia,Developing regions,0,0,0,0,0,20,...,0,0,0,0,0,0,0,0,10,30
228,Andorra,Europe,Southern Europe,Developed regions,0,0,10,0,0,0,...,0,10,10,0,10,10,0,10,10,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441,Wallis and Futuna Islands,Oceania,Polynesia,Developing regions,0,0,0,0,0,0,...,0,0,0,0,10,0,0,0,0,10
442,Western Sahara,Africa,Northern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
443,Yemen,Asia,Western Asia,Developing regions,10,0,0,10,20,10,...,20,60,40,150,40,20,10,40,40,570
444,Zambia,Africa,Eastern Africa,Developing regions,150,110,120,180,130,170,...,100,190,260,430,370,240,410,410,400,5590
445,Zimbabwe,Africa,Eastern Africa,Developing regions,630,1120,1190,980,640,500,...,910,1500,1670,2330,1790,1560,1880,2180,2270,27350

In [207]:
print(dir(imm))

['AreaName', 'Country', 'DevName', 'Region', 'T', 'Total', '_AXIS_ALIASES', '_AXIS_IALIASES', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_box_col_values', '_box_item_values', '_builtin_table', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_combine_frame', '_combine_match_index', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_dict_from', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_count_level', '_create_indexer', '_cython_table', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_from_arrays', '_from_axes', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_cython_func', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_getitem_bool_array', '_getitem_multilevel', '_gotitem', '_iget_item_cache', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_internal_get_values', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_datelike_mixed_type', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_numeric_mixed_type', '_is_view', '_ix', '_ixs', '_join_compat', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_series', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_setup_axes', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_take_with_is_copy', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', '_xs', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_index', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unstack', 'update', 'values', 'var', 'where', 'xs']

In [208]:
help(imm.combine)

Help on method combine in module pandas.core.frame:

combine(other: 'DataFrame', func, fill_value=None, overwrite=True) -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Perform column-wise combine with another DataFrame.

    Combines a DataFrame with `other` DataFrame using `func`
    to element-wise combine columns. The row and column indexes of the
    resulting DataFrame will be the union of the two.

    Parameters
    ----------
    other : DataFrame
        The DataFrame to merge column-wise.
    func : function
        Function that takes two series as inputs and return a Series or a
        scalar. Used to merge the two dataframes column by columns.
    fill_value : scalar value, default None
        The value to fill NaNs with prior to passing any column to the
        merge func.
    overwrite : bool, default True
        If True, columns in `self` that do not exist in `other` will be
        overwritten with NaNs.

    Returns
    -------
    DataFrame
        Combination of the provided DataFrames.

    See Also
    --------
    DataFrame.combine_first : Combine two DataFrame objects and default to
        non-null values in frame calling the method.

    Examples
    --------
    Combine using a simple function that chooses the smaller column.

    >>> df1 = pd.DataFrame({'A': [0, 0], 'B': [4, 4]})
    >>> df2 = pd.DataFrame({'A': [1, 1], 'B': [3, 3]})
    >>> take_smaller = lambda s1, s2: s1 if s1.sum() < s2.sum() else s2
    >>> df1.combine(df2, take_smaller)
       A  B
    0  0  3
    1  0  3

    Example using a true element-wise combine function.

    >>> df1 = pd.DataFrame({'A': [5, 0], 'B': [2, 4]})
    >>> df2 = pd.DataFrame({'A': [1, 1], 'B': [3, 3]})
    >>> df1.combine(df2, np.minimum)
       A  B
    0  1  2
    1  0  3

    Using `fill_value` fills Nones prior to passing the column to the
    merge function.

    >>> df1 = pd.DataFrame({'A': [0, 0], 'B': [None, 4]})
    >>> df2 = pd.DataFrame({'A': [1, 1], 'B': [3, 3]})
    >>> df1.combine(df2, take_smaller, fill_value=-5)
       A    B
    0  0 -5.0
    1  0  4.0

    However, if the same element in both dataframes is None, that None
    is preserved

    >>> df1 = pd.DataFrame({'A': [0, 0], 'B': [None, 4]})
    >>> df2 = pd.DataFrame({'A': [1, 1], 'B': [None, 3]})
    >>> df1.combine(df2, take_smaller, fill_value=-5)
        A    B
    0  0 -5.0
    1  0  3.0

    Example that demonstrates the use of `overwrite` and behavior when
    the axis differ between the dataframes.

    >>> df1 = pd.DataFrame({'A': [0, 0], 'B': [4, 4]})
    >>> df2 = pd.DataFrame({'B': [3, 3], 'C': [-10, 1], }, index=[1, 2])
    >>> df1.combine(df2, take_smaller)
         A    B     C
    0  NaN  NaN   NaN
    1  NaN  3.0 -10.0
    2  NaN  3.0   1.0

    >>> df1.combine(df2, take_smaller, overwrite=False)
         A    B     C
    0  0.0  NaN   NaN
    1  0.0  3.0 -10.0
    2  NaN  3.0   1.0

    Demonstrating the preference of the passed in dataframe.

    >>> df2 = pd.DataFrame({'B': [3, 3], 'C': [1, 1], }, index=[1, 2])
    >>> df2.combine(df1, take_smaller)
       A    B   C
    0  0.0  NaN NaN
    1  0.0  3.0 NaN
    2  NaN  3.0 NaN

    >>> df2.combine(df1, take_smaller, overwrite=False)
         A    B   C
    0  0.0  NaN NaN
    1  0.0  3.0 1.0
    2  NaN  3.0 1.0

In [264]:
imm

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
224,Afghanistan,Asia,Southern Asia,Developing regions,10,20,30,30,70,100,...,100,20,40,70,80,110,180,140,560,4630
225,Albania,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,110,110,200,250,140,130,110,110,140,1910
226,Algeria,Africa,Northern Africa,Developing regions,10,50,30,10,20,20,...,20,30,60,20,20,50,30,30,60,730
227,American Samoa,Oceania,Polynesia,Developing regions,0,0,0,0,0,20,...,0,0,0,0,0,0,0,0,10,30
228,Andorra,Europe,Southern Europe,Developed regions,0,0,10,0,0,0,...,0,10,10,0,10,10,0,10,10,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Yemen,Asia,Western Asia,Developing regions,10,0,0,10,20,10,...,20,60,40,150,40,20,10,40,40,570
444,Zambia,Africa,Eastern Africa,Developing regions,150,110,120,180,130,170,...,100,190,260,430,370,240,410,410,400,5590
445,Zimbabwe,Africa,Eastern Africa,Developing regions,630,1120,1190,980,640,500,...,910,1500,1670,2330,1790,1560,1880,2180,2270,27350
446,Unknown,World,World,World,4060,4440,4010,3220,3970,4610,...,5500,5090,2160,1760,1650,1800,2320,18310,4970,141660
447,Total,World,World,World,184290,212690,195200,153570,153530,172550,...,317560,356410,361990,388450,350990,363470,402210,460650,535970,7965110

In [312]:
#- Save the dataset to a new file AustraliaFiltered.xlsx
imm.to_excel('AustraliaFiltered.xlsx')